{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center text-align-center">
        <div class="container m-2 p-2">
            <h1>Cadastro de Produtos</h1>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Apelido</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.slug }}</td>
                            <td>
                                <a href="{% url 'product_update' product.pk %}" class="btn btn-success">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr/>
            <h1>Cadastrar Produto</h1>
            <form action="" method="POST" id="product_create_form" class="p-2">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Cadastrar" class="btn btn-success mt-2">
            </form>
        </div>
    </div>
{% endblock %}